<nav class="navbar navbar-expand-lg">
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
     
        <ul class="nav navbar-nav navbar-left ml-auto">
       
               
            <a  [routerLink]="['/user/dashboard/editprofile']" > <button class="btn btn-primary" type="button"  >Edit Profile</button></a> &nbsp; 
            <a  [routerLink]="['/user/dashboard/editpassword']" > <button class="btn btn-primary" type="button"  >Edit Password</button></a>&nbsp; 
            <a [routerLink]="['/user/dashboard/bookappointment']" > <button class="btn btn-primary" type="button"  >Book Appointment</button></a>&nbsp; 
            <a  [routerLink]="['/user/dashboard/pastappointment']" > <button class="btn btn-primary" type="button"  >Past Appointment</button></a>&nbsp; 
            <a  [routerLink]="['/user/dashboard/upcomingappointment']" > <button class="btn btn-primary" type="button"  >Upcoming Appointment</button></a>&nbsp; 
            <a  (click)="onLogoutClick()" href="#"> <button class="btn btn-primary" type="button"  >Logout</button></a>
     
      </ul>
      </div>
     
    </nav>
    <div class="bgprofile">
<hr>
<br>
<div class="container">
    <!-- edit form column -->
    <div class="col-md-9 personal-info">  

<form   [formGroup]="userForm" (ngSubmit)= "onEditPasswordSubmit(userForm.value)">
    <h3 class="hint-text">Edit in this form to update your profile password!</h3> 
  <div class="form-group">
      <input type="hidden"   formControlName="pid" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user.pid" readonly>
    </div>
  <div class="form-group">
      <input type="hidden"  formControlName="_id" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user._id" readonly>
    </div>
    <div class="form-group">
        <input type="hidden"   formControlName="profileimg" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user.profileimg" readonly>
      </div>
  <div class="form-group">
  <input type="hidden"   formControlName="name" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user.name" readonly>
</div>
<div class="form-group">
  <input type="hidden"   formControlName="username" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user.username" readonly>
</div>
<div class="form-group">
  <input type="hidden"   formControlName="email" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user.email" readonly>
</div>
<div class="form-group">
    <input type="hidden" formControlName="dateofbirth" class="form-control" style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user.dateofbirth">
    </div>
    <div class="form-group">
        <select  style="width: 300px;" formControlName="gender" placeholder="Add Gender..." class="form-control" [(ngModel)]="user.gender" hidden>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
      </div>
      <div class="form-group">
          <input type="hidden"   formControlName="mobileno" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user.mobileno" readonly>
        </div>
        <div class="form-group">
            <input type="hidden"   formControlName="altermobileno" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user.altermobileno" readonly>
          </div>
          <div class="form-group">
                <select  style="width: 300px;" formControlName="country" placeholder="Add Country..." class="form-control" [(ngModel)]="user.country" hidden>
                    <option value="USA">USA</option>
                  </select>
              </div>
              <div class="form-group">
              <select  style="width: 300px;" formControlName="state" placeholder="Add State..." class="form-control" [(ngModel)]="user.state" hidden>
                  <option value="Illinois">Illinois</option>
                  <option value="New York">New York</option>
                  <option value="California">California</option>
                  <option value="Indiana">Indiana</option>
                </select>
            </div>
            <div class="form-group">
                <input type="hidden"   formControlName="address1" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user.address1" readonly>
              </div>
              <div class="form-group">
                  <input type="hidden"   formControlName="address2" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="user.address2" readonly>
                </div>          
<div class="form-group">
  <label>New Password</label>
  <input type="password"   formControlName="password" class="form-control"  style="width: 300px;"  [(ngModel)]="password" >
</div>
<div class="alert alert-danger" *ngIf="userForm.controls.password.errors && (userForm.controls.password.dirty || userForm.controls.password.touched)">
  <div [hidden]="!userForm.controls.password.errors.required">Password is required</div>
  <div [hidden]="!userForm.controls.password.errors.minlength">Password must be atleast 5 charactors long</div>
  <div [hidden]="!userForm.controls.password.errors.maxlength">Password cannot be more than 9 charactors long</div>
</div>
<div class="form-group">
    <label>Confirm Password</label>
    <input type="password"   formControlName="confirmPassword"  class="form-control"  style="width: 300px;"  [(ngModel)]="confirmpassword">
</div>
    <flash-messages></flash-messages>
    <div class="alert alert-danger" *ngIf="userForm.controls.confirmPassword.errors?.MatchPassword">Password not match</div>    
<input type="submit" class="btn btn-primary" value="Save changes" [disabled]=!userForm.valid>
</form>
<br>
<br>
<br>
</div>
</div>
</div>