<nav class="navbar navbar-expand-lg">
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
     
        <ul class="nav navbar-nav navbar-left ml-auto">
       
               
            <a  [routerLink]="['/doctor/doctordashboard/doctoreditprofile']" > <button class="btn btn-primary" type="button"  >Edit Profile</button></a> &nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/doctoreditpassword']" > <button class="btn btn-primary" type="button"  >Edit Password</button></a>&nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/enableonlineconsult']" > <button class="btn btn-primary" type="button"  >Consultation Time</button></a>&nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/doctorviewappointments']" > <button class="btn btn-primary" type="button"  >View Appointments</button></a>&nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/doctorviewcustomers']" > <button class="btn btn-primary" type="button"  >View Customers</button></a>&nbsp; 
            <a  (click)="onLogoutClick()" href="#"> <button class="btn btn-primary" type="button"  >Logout</button></a>
     
      </ul>
      </div>
     
    </nav>
  <hr>
  <br>
  <div class="container">
    <!-- edit form column -->
    <div class="col-md-9 personal-info">  

<form   [formGroup]="doctorForm" (ngSubmit)= "onEditPasswordSubmit(doctorForm.value)">
  <h2>Edit Password</h2>
  <div class="form-group">
      <input type="hidden"  formControlName="_id" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="doctor._id" readonly>
    </div>
    <div class="form-group">
        <input type="hidden"   formControlName="profileimg" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="doctor.profileimg" readonly>
      </div>
  <div class="form-group">
  <input type="hidden"   formControlName="name" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="doctor.name" readonly>
</div>
<div class="form-group">
  <input type="hidden"   formControlName="username" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="doctor.username" readonly>
</div>
<div class="form-group">
  <input type="hidden"   formControlName="email" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="doctor.email" readonly>
</div>
<div class="form-group">
  <select  style="width: 300px;" formControlName="speciality" placeholder="Add Speciality..." class="form-control" [(ngModel)]="doctor.speciality" hidden>
      <option value="Gastroenterology">Gastroenterology</option>
      <option value="Dermatology">Dermatology</option>
      <option value="Psychiatry">Psychiatry</option>
      <option value="Obsterics and Gynaecology"> Obsterics and Gynaecology</option>
      <option value="Cardiology">Cardiology</option>
    </select>
</div>
<div class="form-group">
    <input type="hidden" formControlName="dateofbirth" class="form-control" style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="doctor.dateofbirth">
    </div>
    <div class="form-group">
        <select  style="width: 300px;" formControlName="gender" placeholder="Add Gender..." class="form-control" [(ngModel)]="doctor.gender" hidden>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
      </div>
      <div class="form-group">
          <input type="hidden"   formControlName="mobileno" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="doctor.mobileno" readonly>
        </div>
        <div class="form-group">
            <input type="hidden"   formControlName="altermobileno" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="doctor.altermobileno" readonly>
          </div>
          <div class="form-group">
                <select  style="width: 300px;" formControlName="country" placeholder="Add Country..." class="form-control" [(ngModel)]="doctor.country" hidden>
                    <option value="USA">USA</option>
                  </select>
              </div>
              <div class="form-group">
              <select  style="width: 300px;" formControlName="state" placeholder="Add State..." class="form-control" [(ngModel)]="doctor.state" hidden>
                  <option value="Illinois">Illinois</option>
                  <option value="New York">New York</option>
                  <option value="California">California</option>
                  <option value="Indiana">Indiana</option>
                </select>
            </div>
            <div class="form-group">
                <input type="hidden"   formControlName="address1" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="doctor.address1" readonly>
              </div>
              <div class="form-group">
                  <input type="hidden"   formControlName="address2" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="doctor.address2" readonly>
                </div>          
<div class="form-group">
  <label>New Password</label>
  <input type="password"   formControlName="password" class="form-control"  style="width: 300px;"  [(ngModel)]="password" >
</div>
<div class="alert alert-danger" *ngIf="doctorForm.controls.password.errors && (doctorForm.controls.password.dirty || doctorForm.controls.password.touched)">
  <div [hidden]="!doctorForm.controls.password.errors.required">Password is required</div>
  <div [hidden]="!doctorForm.controls.password.errors.minlength">Password must be atleast 5 charactors long</div>
  <div [hidden]="!doctorForm.controls.password.errors.maxlength">Password cannot be more than 9 charactors long</div>
</div>
<div class="form-group">
    <label>Confirm Password</label>
    <input type="password"   formControlName="confirmPassword"  class="form-control"  style="width: 300px;"  [(ngModel)]="confirmpassword">
</div>
    <flash-messages></flash-messages>
    <div class="alert alert-danger" *ngIf="doctorForm.controls.confirmPassword.errors?.MatchPassword">Password not match</div>    
<input type="submit" class="btn btn-primary" value="Save changes" [disabled]=!doctorForm.valid>
</form>
</div>
</div>

