<nav class="navbar navbar-expand-lg">
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
     
        <ul class="nav navbar-nav navbar-left ml-auto">
       
            <a  [routerLink]="['/admin/admindashboard/admineditprofile']" > <button class="btn btn-primary" type="button"  >Edit Profile</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/admineditpassword']" > <button class="btn btn-primary" type="button"  >Edit Password</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminadddoctor']"> <button class="btn btn-primary" type="button"  >Add Doctor</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewdoctorslist']" > <button class="btn btn-primary" type="button"  >Doctors List</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewcustomerslist']" > <button class="btn btn-primary" type="button"  >Customers List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewappointmentslist']" > <button class="btn btn-primary" type="button"  >Appointments List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewfeedbacks']" > <button class="btn btn-primary" type="button"  >Customers Feedbacks</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminallocatepid']" > <button class="btn btn-primary" type="button"  >Allocate PID</button></a>&nbsp; 
            <a  (click)="onLogoutClick()" href="#"> <button class="btn btn-primary" type="button"  >Logout</button></a>
      </ul>
      </div>
     
    </nav>
  <hr>
  <br>
  <div class="container">
      <!-- edit form column -->
      <div class="col-md-9 personal-info">  
          <form [formGroup]="doctordescriptionForm"  (ngSubmit)= "onupdateDescriptionSubmit(doctordescriptionForm.value)">
              <div class="form-group">
                  <textarea cols="30" rows="4" formControlName="doctordescription"  class="form-control" placeholder="Update description for customer..." [(ngModel)]="doctordescription"></textarea>
           </div>
           <div class="alert alert-danger" *ngIf="doctordescriptionForm.controls.doctordescription.errors && (doctordescriptionForm.controls.doctordescription.dirty || doctordescriptionForm.controls.doctordescription.touched)">
          <div [hidden]="!doctordescriptionForm.controls.doctordescription.errors.required">Description is required</div>
          <div [hidden]="!doctordescriptionForm.controls.doctordescription.errors.minlength">Description must be atleast 5 charactors long</div>
          <div [hidden]="!doctordescriptionForm.controls.doctordescription.errors.maxlength">Description cannot be more than 500 charactors long</div>
          </div>
          <flash-messages></flash-messages>
          <input type="submit" class="btn btn-primary" value="Update" [disabled]=!doctordescriptionForm.valid>
          </form>
        
  
  </div>
  </div>
