<nav class="navbar navbar-expand-lg">
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
     
        <ul class="nav navbar-nav navbar-left ml-auto">
       
               
            <a  [routerLink]="['/doctor/doctordashboard/doctoreditprofile']" > <button class="btn btn-primary" type="button"  >Edit Profile</button></a> &nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/doctoreditpassword']" > <button class="btn btn-primary" type="button"  >Edit Password</button></a>&nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/enableonlineconsult']" > <button class="btn btn-primary" type="button"  >Consultation Time</button></a>&nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/doctorviewappointments']" > <button class="btn btn-primary" type="button"  >View Appointments</button></a>&nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/doctorviewcustomers']" > <button class="btn btn-primary" type="button"  >View Customers</button></a>&nbsp; 
            <a  (click)="onLogoutClick()" href="#"> <button class="btn btn-primary" type="button"  >Logout</button></a>
     
      </ul>
      </div>
     
    </nav>
  <hr>
  <br>
  <br>
  <div class="container ">
      <div class="container" style="width: 100%" >
    

    
      <h3 class="hint-text">&nbsp; &nbsp;Customer's Feedbacks for you</h3>
      
        <br>
        <table align="left" style="width:700px">
          <thead>
            <tr>  
          
          
            </tr>
          </thead>
          <tbody>
                  
              <tr *ngFor ="let feedback of feedbacks | paginate: { itemsPerPage: 10, currentPage: p }">
                <div *ngIf="this.id == feedback.doctorid  &&  this.userid == feedback.userid ">
                  <h5>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Feedback:&nbsp;{{feedback.userfeedback}}<br>
                    <br>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Rating:&nbsp;<ngb-rating [rate]="feedback.currentRate"></ngb-rating><br>
                    <br>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Date:&nbsp;{{feedback.dateoffeedback.slice(0,10)}}&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Date:&nbsp;{{feedback.timeoffeedback}}<br></h5>
               
               
               <p>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; ---------------------------------------------------------------</p>
             
               </div>
              </tr>
        
          </tbody>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </table> 
      </div>
      </div>

