<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Consult Online</title>
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
	// Prevent dropdown menu from closing when click inside the form
	$(document).on("click", ".navbar-right .dropdown-menu", function(e){
		e.stopPropagation();
	});
</script>


</head> 
<body>
<nav class="navbar navbar-default navbar-expand-lg navbar-light">
	<div class="navbar-header d-flex col">
		<a class="navbar-brand" href="#">Consult<b>Online</b></a>  		
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<ul class="nav navbar-nav">
			
			<li class="nav-item active"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      
		</ul>
		<form class="navbar-form form-inline"  [formGroup]="doctorsearchForm" (ngSubmit)= "onSearchSubmit(doctorsearchForm.value)">
			<div class="input-group search-box">	
          <div class="form-group">						
				<input type="text" size="45" formControlName="doctorsearch" [(ngModel)]="doctorsearch" class="form-control" placeholder="Search by:Doctors, Specialities">
        <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
      </div>
        <div class="alert alert-danger" *ngIf="doctorsearchForm.controls.doctorsearch.errors && (doctorsearchForm.controls.doctorsearch.dirty || doctorsearchForm.controls.doctorsearch.touched)">
            <div [hidden]="!doctorsearchForm.controls.doctorsearch.errors.required">Doctor/Speciality is required</div>
           </div>
           <flash-messages></flash-messages>
        
      </div>
      
    </form>
  
    <ul class="nav navbar-nav navbar-right ml-auto">	
      
        <li class="nav-item" *ngIf="!authService.loggedIn()">
            <a data-toggle="dropdown" class="nav-link dropdown-toggle" [routerLink]="['/user/signup']">Sign up</a>    
          </li>
  
      
          <li class="nav-item" *ngIf="!authService.loggedIn()">
              <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Login&nbsp;&nbsp;&nbsp;&nbsp;</a>
              <ul class="dropdown-menu form-wrapper">					
                <li>
                  <form #userForm="ngForm" (ngSubmit)= "onLoginSubmit(userForm.value)">
                    
                    <div class="form-group">
                      <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required="required">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password" required="required">
                    </div>
                    <flash-messages></flash-messages>
                    <input type="submit" class="btn btn-primary btn-block" value="Login">
                    <div class="form-footer">
                      <a [routerLink]="['/user/retrieve']">Forgot Your password?</a>
                    </div>
                  </form>
                </li>
              </ul>
            </li>

      
      </ul>
	</div>
</nav>

<router-outlet></router-outlet>

<nav class=" navbar navbar-expand-lg  ">
  
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
      <ul class="navbar-nav navbar-right ml-auto" >		
  
          <li class="nav-item" *ngIf="!authService.loggedIn()">
              <div class="dropup">
            <a data-toggle="dropdown" class="nav-link dropdown-toggle" [routerLink]="['/doctor/doctorlogin']">Doctor Login</a>
            </div>
          </li>
        
            <li class="nav-item" *ngIf="!authService.loggedIn()">
                <div class="dropup">
                <a data-toggle="dropdown" class="nav-link dropdown-toggle" [routerLink]="['/admin/adminlogin']">Admin Login&nbsp;&nbsp;&nbsp;</a>
                </div>
              </li>
  
          <li class="nav-item" *ngIf="!authService.loggedIn()">
              <div class="dropup">
            <a data-toggle="dropdown" class="nav-link dropdown-toggle" [routerLink]="['/admin/adminsignup']">Admin Sign up</a>
           
            </div>
          </li>
  
        </ul>
    </div>
  </nav>
  <div id="footer">
      <div class="container text-center">
          <p class="float-center">Copyright - {{this.today}}. Online Consult Group. All Rights Reserved</p>
      </div>
    </div>
</body>
</html>                                                                                    





  