<nav class="navbar navbar-expand-lg">
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
     
        <ul class="nav navbar-nav navbar-left ml-auto">
       
            <a  [routerLink]="['/admin/admindashboard/admineditprofile']" > <button class="btn btn-primary" type="button"  >Edit Profile</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/admineditpassword']" > <button class="btn btn-primary" type="button"  >Edit Password</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminadddoctor']"> <button class="btn btn-primary" type="button"  >Add Doctor</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewdoctorslist']" > <button class="btn btn-primary" type="button"  >Doctors List</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewcustomerslist']" > <button class="btn btn-primary" type="button"  >Customers List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewappointmentslist']" > <button class="btn btn-primary" type="button"  >Appointments List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewfeedbacks']" > <button class="btn btn-primary" type="button"  >Customers Feedbacks</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminallocatepid']" > <button class="btn btn-primary" type="button"  >Allocate PID</button></a>&nbsp; 
            <a  (click)="onLogoutClick()" href="#"> <button class="btn btn-primary" type="button"  >Logout</button></a>
      </ul>
      </div>
     
    </nav>
  <hr>
  <br>
  <div class="container">
      <!-- edit form column -->
      <div class="col-md-9 personal-info">  
          <form   [formGroup]="doctorForm" (ngSubmit)= "onUpdateSubmit(doctorForm.value)">
              <h2 >Allocate Active</h2>          
              <div class="form-group">
              <label>Enter Active</label>
              <select  style=" height:35px; width: 300px;" formControlName="active" placeholder="Add Active..." class="form-control" [(ngModel)]="active" >
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
            </div>
              <div class="alert alert-danger" *ngIf="doctorForm.controls.active.errors && (doctorForm.controls.active.dirty || doctorForm.controls.active.touched)">
              <div [hidden]="!doctorForm.controls.active.errors.required">Active is required</div>
              </div>
                <flash-messages></flash-messages>
              <input type="submit" class="btn btn-primary" value="Update" [disabled]=!doctorForm.valid>
              </form>
        
  
  </div>
  </div>
