<nav class="navbar navbar-expand-lg">
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
     
        <ul class="nav navbar-nav navbar-left ml-auto">
       
            <a  [routerLink]="['/admin/admindashboard/admineditprofile']" > <button class="btn btn-primary" type="button"  >Edit Profile</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/admineditpassword']" > <button class="btn btn-primary" type="button"  >Edit Password</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminadddoctor']"> <button class="btn btn-primary" type="button"  >Add Doctor</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewdoctorslist']" > <button class="btn btn-primary" type="button"  >Doctors List</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewcustomerslist']" > <button class="btn btn-primary" type="button"  >Customers List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewappointmentslist']" > <button class="btn btn-primary" type="button"  >Appointments List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewfeedbacks']" > <button class="btn btn-primary" type="button"  >Customers Feedbacks</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminallocatepid']" > <button class="btn btn-primary" type="button"  >Allocate PID</button></a>&nbsp; 
            <a  (click)="onLogoutClick()" href="#"> <button class="btn btn-primary" type="button"  >Logout</button></a>
      </ul>
      </div>
     
    </nav>
<hr>
<br>
<div class="container">
    <!-- edit form column -->
    <div class="col-md-9 personal-info">  

<form   [formGroup]="adminForm" (ngSubmit)= "onEditPasswordSubmit(adminForm.value)">
  <h2>Edit Password</h2>
  <div class="form-group">
      <input type="hidden"  formControlName="_id" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="admin._id" readonly>
    </div>
    <div class="form-group">
        <input type="hidden"   formControlName="profileimg" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="admin.profileimg" readonly>
      </div>
  <div class="form-group">
  <input type="hidden"   formControlName="name" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="admin.name" readonly>
</div>
<div class="form-group">
  <input type="hidden"   formControlName="username" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="admin.username" readonly>
</div>
<div class="form-group">
  <input type="hidden"   formControlName="email" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="admin.email" readonly>
</div>
<div class="form-group">
    <input type="hidden" formControlName="dateofbirth" class="form-control" style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="admin.dateofbirth">
    </div>
    <div class="form-group">
        <select  style="width: 300px;" formControlName="gender" placeholder="Add Gender..." class="form-control" [(ngModel)]="admin.gender" hidden>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
      </div>
      <div class="form-group">
          <input type="hidden"   formControlName="mobileno" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="admin.mobileno" readonly>
        </div>
        <div class="form-group">
            <input type="hidden"   formControlName="altermobileno" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="admin.altermobileno" readonly>
          </div>
          <div class="form-group">
                <select  style="width: 300px;" formControlName="country" placeholder="Add Country..." class="form-control" [(ngModel)]="admin.country" hidden>
                    <option value="USA">USA</option>
                  </select>
              </div>
              <div class="form-group">
              <select  style=" height:35px; width: 300px;" formControlName="state" placeholder="Add State..." class="form-control" [(ngModel)]="admin.state" hidden>
                  <option value="Illinois">Illinois</option>
                  <option value="New York">New York</option>
                  <option value="California">California</option>
                  <option value="Indiana">Indiana</option>
                </select>
            </div>
            <div class="form-group">
                <input type="hidden"   formControlName="address1" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="admin.address1" readonly>
              </div>
              <div class="form-group">
                  <input type="hidden"   formControlName="address2" class="form-control"  style="width: 300px; background-color: #FFFFFF;" [(ngModel)]="admin.address2" readonly>
                </div>          
<div class="form-group">
  <label>New Password</label>
  <input type="password"   formControlName="password" class="form-control"  style="width: 300px;"  [(ngModel)]="password" >
</div>
<div class="alert alert-danger" *ngIf="adminForm.controls.password.errors && (adminForm.controls.password.dirty || adminForm.controls.password.touched)">
  <div [hidden]="!adminForm.controls.password.errors.required">Password is required</div>
  <div [hidden]="!adminForm.controls.password.errors.minlength">Password must be atleast 5 charactors long</div>
  <div [hidden]="!adminForm.controls.password.errors.maxlength">Password cannot be more than 9 charactors long</div>
</div>
<div class="form-group">
    <label>Confirm Password</label>
    <input type="password"   formControlName="confirmPassword"  class="form-control"  style="width: 300px;"  [(ngModel)]="confirmpassword">
</div>
    <flash-messages></flash-messages>
    <div class="alert alert-danger" *ngIf="adminForm.controls.confirmPassword.errors?.MatchPassword">Password not match</div>    
<input type="submit" class="btn btn-primary" value="Save changes" [disabled]=!adminForm.valid>
</form>
</div>
</div>
