
<div class="container ">
<div class="container" style="width: 37%" >
   
<form [formGroup]="userForm"  (ngSubmit)= "onSignupSubmit(userForm.value)">
    <p class="hint-text">Fill in this form to create your account!</p>    
    <div class="form-group">
      <input type="hidden" formControlName="pid" class="form-control" placeholder="Add PID..." [(ngModel)]="pid">
    </div>
  <div class="form-group">
  <input type="text" formControlName="name" class="form-control" placeholder="Name" [(ngModel)]="name">
  </div>
<div class="form-group">
    <input type="hidden" formControlName="address1" class="form-control" placeholder="Add Address1..." [(ngModel)]="address1">
  </div>
  <div class="form-group">
      <input type="hidden" formControlName="address2" class="form-control" placeholder="Add Address2..." [(ngModel)]="address2">
    </div>
<div class="form-group">
<input type="hidden" formControlName="dateofbirth" class="form-control" placeholder="Add Date of Birth..." [(ngModel)]="dateofbirth">
</div>
<div class="form-group">
    <select  style="width: 300px;" formControlName="gender" placeholder="Add Gender..." class="form-control" [(ngModel)]="gender" hidden>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
  </div>
  <div class="form-group">
      <input type="text" formControlName="mobileno"  class="form-control" placeholder="Mobile No(format: xxx-xxx-xxxx)" [(ngModel)]="mobileno" required>
    </div>
    <div class="form-group">
          <input type="hidden" formControlName="altermobileno"  class="form-control" placeholder="Add Mobile No..." [(ngModel)]="altermobileno" >
        </div>
        <div class="form-group">
        <select  style="width: 300px;" placeholder="Add Country..." class="form-control" [(ngModel)]="country" hidden>
            <option value="USA">USA</option>
          </select>
      </div>
      <div class="form-group">
      <select  style="width: 300px;" placeholder="Add State..." class="form-control" [(ngModel)]="state" hidden>
          <option value="Illinois">Illinois</option>
          <option value="New York">New York</option>
          <option value="California">California</option>
          <option value="Indiana">Indiana</option>
        </select>
    </div>
<div class="form-group">

  <input type="text" formControlName="username" class="form-control" placeholder="Username" [(ngModel)]="username">
</div>
<div class="form-group">
  
  <input type="text" formControlName="email" class="form-control" placeholder="Email" [(ngModel)]="email">
</div>
<div class="form-group">
  <input type="password" formControlName="password" class="form-control" placeholder="Password"  [(ngModel)]="password">
</div>
<div class="alert alert-danger" *ngIf="userForm.controls.password.errors && (userForm.controls.password.dirty || userForm.controls.password.touched)">
<div [hidden]="!userForm.controls.password.errors.required">Password is required</div>
<div [hidden]="!userForm.controls.password.errors.minlength">Password must be atleast 5 charactors long</div>
<div [hidden]="!userForm.controls.password.errors.maxlength">Password cannot be more than 9 charactors long</div>
</div>
<div class="form-group">
  <input type="password"   formControlName="confirmPassword"  class="form-control"  placeholder="Confirm Password"  [(ngModel)]="confirmpassword">
</div>
<div class="form-group">
    <label class="checkbox-inline"><input type="checkbox"  formControlName="accept" [(ngModel)]="accept" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
  </div>

<flash-messages></flash-messages>
<div class="alert alert-danger" *ngIf="userForm.controls.confirmPassword.errors?.MatchPassword">Password not match</div> 
<input type="submit" class="btn btn-primary btn-block"  value="Sign Up" >
</form>

</div>
</div>