
    <hr>
    <br>
    <div class="container">
      <!-- edit form column -->
      <div class="col-md-9 personal-info">  
    
    <form   [formGroup]="doctorForm" (ngSubmit)= "onResetPasswordSubmit(doctorForm.value)">
          
    <div class="form-group">
    
    <input type="password"   style="width: 300px;" formControlName="password" class="form-control"  placeholder="Password"  [(ngModel)]="password" >
    </div>
    <div class="alert alert-danger" *ngIf="doctorForm.controls.password.errors && (doctorForm.controls.password.dirty || doctorForm.controls.password.touched)">
    <div [hidden]="!doctorForm.controls.password.errors.required">Password is required</div>
    <div [hidden]="!doctorForm.controls.password.errors.minlength">Password must be atleast 5 charactors long</div>
    <div [hidden]="!doctorForm.controls.password.errors.maxlength">Password cannot be more than 9 charactors long</div>
    </div>
    <div class="form-group">
    
      <input type="password"   style="width: 300px;" formControlName="confirmPassword"  placeholder="Confirm Password"class="form-control"  style="width: 300px;"  [(ngModel)]="confirmpassword">
    </div>
      <flash-messages></flash-messages>
      <div class="alert alert-danger" *ngIf="doctorForm.controls.confirmPassword.errors?.MatchPassword">Password not match</div>    
    <input type="submit" style="width: 300px;" class="btn btn-primary btn-block" value="Save changes" [disabled]=!doctorForm.valid>
    </form>
    </div>
    </div>