<div class="container ">
  <br>
<div class="container" style="width: 37%" >
<form #userForm="ngForm" (ngSubmit)= "onLoginSubmit(userForm.value)">
    <p class="hint-text">Log in this form to book and manage your appointments!</p>   
<div class="form-group">
  
  <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="email">
</div>
<div class="form-group">

  <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password">
</div>
<flash-messages></flash-messages>
<input type="submit" class="btn btn-primary btn-block" value="Login">
<div class="form-footer">
    <a [routerLink]="['/user/retrieve']">Forgot Your password?</a>
  </div>

</form>

</div>
</div>
