<div class="container ">
  <br>
<div class="container" style="width: 37%" >
<form  #adminForm="ngForm" (ngSubmit)= "onLoginSubmit(adminForm.value)">
<div class="form-group">

  <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required="required">
</div>
<div class="form-group">

  <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password" required="required">
</div>
<flash-messages></flash-messages>
<input type="submit" class="btn btn-primary btn-block" value="Admin Login">
<div class="form-footer">
    <a [routerLink]="['/admin/adminretrieve']">Forgot Your password?</a>
  </div>

</form>

</div>
</div>